<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col size="7">
      <ion-item>
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresar producto"
          formControlName="productId"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'productId') && form.submitted
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label position="floating">Lote de carne*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar lote"
          formControlName="lotId"
        >
          <ion-select-option [value]="lot" *ngFor="let lot of lots">{{
            lot.lotId
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf=" form.submitted
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <ion-item>
        <ion-label position="floating">Peso (KG)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresar peso en Kg"
          type="number"
          formControlName="weight"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weight') &&
            (form.controls.weight.touched || form.controls.weight.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label position="floating">Temperatura*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresar temperatura"
          formControlName="temperature"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'temperature') &&
            (form.controls.temperature.touched ||
              form.controls.temperature.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora de entrada*</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hourEntrance"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hourEntrance') &&
            (form.controls.hourEntrance.touched ||
              form.controls.hourEntrance.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="5">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora de salida*</ion-label>
        <ion-datetime
          displayFormat="HH:mm"
          class="item-form"
          formControlName="hourExit"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hourExit') &&
            (form.controls.hourExit.touched || form.controls.hourExit.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha inicial*</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          display-timezone="utc"
          class="item-form"
          formControlName="dateIni"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'dateIni') &&
            (form.controls.dateIni.touched || form.controls.dateIni.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="5">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha final</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          display-timezone="utc"
          class="item-form"
          formControlName="dateFinal"
        ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</form>
