<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-item *ngIf="!isSelected || emptyProcess">
          <ion-label position="floating">Materia Prima*</ion-label>
          <ion-select
            class="item-form"
            interface="action-sheet"
            placeholder="Seleccionar materia prima"
            formControlName="productId"
            (ionChange)="selectMaterial()"
            
          >
            <ion-select-option
              [value]="material"
              *ngFor="let material of materials"
              >{{ material.rawMaterial }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item *ngIf="isSelected && !emptyProcess">
          <ion-label position="floating">Producto*</ion-label>
          <ion-input
            class="item-form"
            placeholder="Producto"
            formControlName="productId"
            disabled
          ></ion-input>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'productId') &&
              (form.controls.productId.touched || form.controls.productId.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-item *ngIf="!isSelected || emptyProcess">
          <ion-label position="floating">Lote de carne*</ion-label>
          <ion-select
            class="item-form"
            interface="action-sheet"
            placeholder="Seleccionar lote"
            formControlName="lotId"
          
          >
            <ion-select-option [value]="lot" *ngFor="let lot of lots"
              >{{ lot.lotId }}: {{ lot.quantity }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item *ngIf="isSelected && !emptyProcess">
          <ion-label position="floating">Lote de carne*</ion-label>
          <ion-input
            class="item-form"
            placeholder="Producto"
            formControlName="lotId"
            disabled
          ></ion-input>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'lotId') &&
              (form.controls.lotId.touched || form.controls.lotId.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="7">
        <ion-item>
          <ion-label position="floating">Peso (KG)*</ion-label>
          <ion-input
            class="item-form"
            placeholder="Ingresar peso en Kg"
            formControlName="weight"
            [disabled]="isSelected && !emptyProcess"
            type="number"
          ></ion-input>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'weight') &&
              (form.controls.weight.touched || form.controls.weight.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
          <ion-label
            *ngIf="
              form.controls.weight.touched &&
              form.controls.weight.errors?.isValidDecimal
            "
          >
            Formato invalido
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <ion-label position="floating">Temperatura*</ion-label>
          <ion-input
            class="item-form"
            placeholder="Ingresar temperatura"
            formControlName="temperature"
            type="number"
            [disabled]="isSelected && !emptyProcess"
            pattern="\d+"
          ></ion-input>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'temperature') &&
              (form.controls.temperature.touched ||
                form.controls.temperature.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="7">
        <ion-item class="item-datetime">
          <ion-label position="floating">Hora de entrada*</ion-label>
          <ion-datetime
            class="item-form"
            displayFormat="HH:mm"
            formControlName="hourEntrance"
            [disabled]="isSelected && !emptyProcess"
          ></ion-datetime>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'hourEntrance') &&
              (form.controls.hourEntrance.touched ||
                form.controls.hourEntrance.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-item class="item-datetime">
          <ion-label position="floating">Hora de salida</ion-label>
          <ion-datetime
            displayFormat="HH:mm"
            class="item-form"
            formControlName="hourExit"
            [disabled]="!isSelected || datesRegistered || emptyProcess"
          ></ion-datetime>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'hourExit') &&
              (form.controls.hourExit.touched || form.controls.hourExit.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="7">
        <ion-item class="item-datetime">
          <ion-label position="floating">Fecha inicial*</ion-label>
          <ion-datetime
            displayFormat="MM/DD/YYYY"
            display-timezone="utc"
            class="item-form"
            formControlName="dateIni"
            [min]="minDate"
            [max]="maxDate"
            [disabled]="isSelected && !emptyProcess"
          ></ion-datetime>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'dateIni') &&
              (form.controls.dateIni.touched || form.controls.dateIni.dirty)
            "
          >
            Ingrese un valor
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-item class="item-datetime">
          <ion-label position="floating">Fecha final</ion-label>
          <ion-datetime
            displayFormat="MM/DD/YYYY"
            display-timezone="utc"
            class="item-form"
            formControlName="dateFinal"
            [disabled]="!isSelected || datesRegistered || emptyProcess"
            [min]="dateIni"
            [max]="maxDate"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
