<app-title-header
  titlePath="Regresar"
  path="/process/recent-records"
  (OnClickEvent)="onBackButton(form)"
>
</app-title-header>
<ion-content>
  <ion-grid class="container container--all">
    <ion-row>
      <ion-col>
        <h1 class="title">Datos de registro básico</h1>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--forms">
      <ion-col class="container container__column" size="12">
        <div class="container container__form">
          <app-form-basic-registration
            (onSubmit)="onSubmit($event)"
            (onDefrost)="onDefrost($event)"
            [materials]="materials$|async"
            #form
          ></app-form-basic-registration>
        </div>
      </ion-col>
    </ion-row>

    <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
    >
      <ion-col class="container container__column" size="12">
        <ion-button
          *ngIf="!isSelected "
          (click)="form.onSubmit(form.form)"
          class="container container_buttton"
          color="secondary"
          size="large"
          expand="block"
          [disabled]="form.form.invalid || loading"
          ><ion-grid>
            <ion-row *ngIf="!loading"> <ion-col>Guardar</ion-col></ion-row>
            <ion-spinner
              *ngIf="loading"
              name="crescent"
            ></ion-spinner> </ion-grid
        ></ion-button>
        <ion-button
          *ngIf="isSelected"
          (click)="form.onSubmitDefrost()"
          class="container container_buttton"
          color="secondary"
          expand="block"
          [disabled]=" form.dataDefrost || loading || form.datesRegistered"
          ><ion-grid>
            <ion-row *ngIf="!loading"> <ion-col>Guardar</ion-col></ion-row>
            <ion-spinner
              *ngIf="loading"
              name="crescent"
            ></ion-spinner> </ion-grid
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
