$color-text-primary: #575552;
$color-text-secondary: #b2b2b2;
@import "../../../../../theme/mixins.scss";

.container {
  height: 100%;
  padding: 0 2%;
  &--all {
    @include breakpoint-size(ms-extra-small) {
      min-height: 800px;
    }

    @include breakpoint-size(ms-small) {
      min-height: 1000px;
    }

    @include breakpoint-size(ms-medium) {
      min-height: 500px;
    }

    @include breakpoint-size(ms-extra-large) {
      min-height: 700px;
    }
  }

  .title {
    font-size: 3.8vw;
    color: $color-text-primary;
    font-weight: 700;
    margin: 0;
    margin-top: 5%;
  }
  &__row {
    &--forms {
      height: 75%;
      width: 100%;

      @include breakpoint-size(ms-extra-small) {
        height: 83%;
      }

      @include breakpoint-size(ms-small) {
        height: 78%;
      }

      @include breakpoint-size(ms-medium) {
        height: 75%;
      }

      @include breakpoint-size(ms-extra-large) {
        height: 77%;
      }
    }
    &--buttons {
      height: 6%;
      @include breakpoint-size(ms-small) {
        height: 8%;
      }
    }
  }

  &__form {
    height: 100%;
    width: 100%;
  }
  &__button {
    @include breakpoint-size(ms-extra-small) {
      height: 35px;
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      height: 45px;
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      height: 30px;
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      height: 40px;
      font-size: var(--fs-text-xl);
    }
  }
}
