$color-primary: #e2bd53;
$color-secondary: #707070;
$color-text-primary: #e2bd53;
$color-text-secondary: #dbdbdb;
.container {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: radial-gradient(
    circle at 40% -20%,
    $color-primary 50%,
    transparent 50%
  );
  .item-head {
    height: 15%;
    text-align: center;
    padding-top: 5%;
    h1 {
      font-weight: 600;
      font-size: 6vw;
      margin: 0;
    }
    .subtitle {
      font-weight: 300;
      font-size: 3.5vw;
      margin: 0;
    }
  }
  .item-body {
    height: 75%;
    padding: 0 12%;
    padding-top: 10%;
  }
}
