@import "../../../../../theme/mixins.scss";

.container {
  height: 100%;
  &-grid {
    height: 100%;
    .row {
      &-1 {
        height: 5%;

        @include breakpoint-size(ms-medium) {
          height: 10%;
        }
        ion-col {
          h1 {
            @include breakpoint-size(ms-extra-small) {
              font-size: var(--fs-text-title-xsm);
            }

            @include breakpoint-size(ms-small) {
              font-size: var(--fs-text-title-sm);
            }

            @include breakpoint-size(ms-medium) {
              font-size: var(--fs-text-title-md);
            }

            @include breakpoint-size(ms-extra-large) {
              font-size: var(--fs-text-title-xl);
            }
          }
        }
      }
      &-2 {
        height: 75%;
        padding: 0 4%;
        overflow-y: scroll;

        @include breakpoint-size(ms-medium) {
          height: 70%;
        }
      }
      &-3 {
        height: 20%;
        padding: 0 22%;
        ion-col {
          ion-button {
            @include breakpoint-size(ms-extra-small) {
              height: 35px;
              font-size: var(--fs-text-xsm);
            }

            @include breakpoint-size(ms-small) {
              height: 45px;
              font-size: var(--fs-text-sm);
            }

            @include breakpoint-size(ms-medium) {
              height: 30px;
              font-size: var(--fs-text-md);
            }

            @include breakpoint-size(ms-extra-large) {
              height: 40px;
              font-size: var(--fs-text-xl);
            }
          }
        }
      }
    }
  }
}
