// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #e1bc5c;
  --ion-color-primary-rgb: 225, 188, 92;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c6a551;
  --ion-color-primary-tint: #e4c36c;

  /** secondary **/
  --ion-color-secondary: #575552;
  --ion-color-secondary-rgb: 87, 85, 82;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4d4b48;
  --ion-color-secondary-tint: #686663;

  /** tertiary**/
  --ion-color-tertiary: #b2b2b2;
  --ion-color-tertiary-rgb: 178, 178, 178;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #9d9d9d;
  --ion-color-tertiary-tint: #bababa;

  /** error **/
  --ion-color-error: #d43b20;
  --ion-color-error-rgb: 212, 59, 32;
  --ion-color-error-contrast: #ffffff;
  --ion-color-error-contrast-rgb: 255, 255, 255;
  --ion-color-error-shade: #bb341c;
  --ion-color-error-tint: #d84f36;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** font size title**/
  --fs-text-title-xsm: 1.5rem;
  --fs-text-title-sm: 1.8rem;
  --fs-text-title-md: 1.5rem;
  --fs-text-title-lg: 1.6rem;
  --fs-text-title-xl: 1.7rem;

  --font-size-sm: 1.2rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2rem;

  /** font size n1ormal text**/
  --fs-text-xsm: 1.3rem;
  --fs-text-sm: 1.7rem;
  --fs-text-md: 1.3rem;
  --fs-text-lg: 1.6rem;
  --fs-text-xl: 1.6rem;

  --fs-text-error-xsm: 1.1rem;
  --fs-text-error-sm: 1.4rem;
  --fs-text-error-md: 0.9rem;
  --fs-text-error-xl: 1.2rem;
}

ion-title.title-large {
  --color: white;
}

ion-button.ion-color.ion-color-primary {
  text-transform: none;
}

ion-item.form-input.ion-no-padding {
  --inner-padding-end: 0;
}
