<app-title-header
  titlePath="Regresar"
  path="/process/process-detail"
  (OnClickEvent)="onBackButton(form.form)"
></app-title-header>
<ion-grid class="container">
  <ion-row>
    <ion-col>
      <h1 class="title">Molienda</h1>
    </ion-col>
  </ion-row>
  <ion-grid class="body"
    ><app-form-grinding #form></app-form-grinding
  ></ion-grid>
  <ion-row class="buttons">
    <ion-col size="4" offset="4">
      <ion-button class="button-save" (click)="form.onSubmit()"
        >Guardar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
