<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" flex layout="column" style="overflow: auto; height: 100%;">
  <ion-row>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">Productos Rovianda*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar producto"
          formControlName="productId"
          (ionChange)="selectProductRovianda()"
        >
          <ion-select-option
            [value]="productRovianda.id"
            *ngFor="let productRovianda of productsRovianda$ | async"
            >{{ productRovianda.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!isNewRegister && sausageArr.length">
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="{{sausageArr[0].productRovianda}}"
          disabled
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="!isNewRegister && !sausageArr.length && currentProcess!=null">
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="{{currentProcess.productName}}"
          disabled
        ></ion-input>
      </ion-item>
      

    </ion-col>
    <ion-col size="6">

      <ion-item *ngIf="isNewRegister && (formulations | async).length">
        <ion-label position="floating">Formulaciones</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar formulacion"
          formControlName="formulationId"
          (ionChange)="selectFormulationId()"
        >
          <ion-select-option   *ngFor="let formulation of  formulations | async " [value]="formulation.formulationId"
            >{{ formulation.lotDay}}-{{formulation.productName}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!isNewRegister && sausageOfProcess.length">
        <ion-label position="floating">Formulaciones</ion-label>
        <ion-input
            class="item-form"
            interface="action-sheet"
            placeholder="{{sausageOfProcess[0].formulation.lotDay}}"
            disabled
          ></ion-input>
      </ion-item>

      <ion-item *ngIf="!isNewRegister && !sausageOfProcess.length && currentProcess!=null">
        <ion-label position="floating">Formulaciones</ion-label>
        <ion-input
            class="item-form"
            interface="action-sheet"
            placeholder="{{currentProcess.lotDay}}"
            disabled
          ></ion-input>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item *ngIf=" formulation && defrostOfFormulation.length && !sausageArr.length">
        <ion-label position="floating">Lotes de carne en esta formulación</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar lote"
          formControlName="defrostId"
        >
          <ion-select-option   *ngFor="let defrost of  defrostOfFormulation" [value]="defrost.defrostFormulationId"
            >{{ defrost.lotMeat}}-{{defrost.defrost.dateEnd}}-{{defrost.defrost.outputHour}}-{{defrost.defrost.outputCooling.quantity}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha de embutido*</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          class="item-form"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="!isNewRegister"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'date') &&
            (form.controls.date.touched || form.controls.date.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Temperatura (°C)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa temperatura"
          formControlName="temperature"
          type="number"
          [disabled]="!isNewRegister"
          pattern="\d+"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'temperature') &&
            (form.controls.temperature.touched ||
              form.controls.temperature.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>
  <h1 class="subtitle">Tiempo</h1>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg) inicial*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weightInitial"
          [disabled]="!isNewRegister"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightInitial') &&
            (form.controls.weightInitial.touched ||
              form.controls.weightInitial.dirty)
          "
          >Ingrese un valor</ion-label
        >
        <ion-label
          *ngIf="
            form.controls.weightInitial.touched &&
            form.controls.weightInitial.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora 1*</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hour1"
          [disabled]="!isNewRegister"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hour1') &&
            (form.controls.hour1.touched || form.controls.hour1.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg) medio</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weightMedium"
          [disabled]="!secondHoursEnabled"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightMedium') &&
            (form.controls.weightMedium.touched ||
              form.controls.weightMedium.dirty)
          "
          >Ingrese un valor</ion-label
        >
        <ion-label
          *ngIf="
            form.controls.weightMedium.touched &&
            form.controls.weightMedium.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora 2</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hour2"
          [disabled]="!secondHoursEnabled"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hour2') &&
            (form.controls.hour2.touched || form.controls.hour2.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg) final</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weightFinal"
          [disabled]="!thirdHoursEnabled"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightFinal') &&
            (form.controls.weightFinal.touched ||
              form.controls.weightFinal.dirty)
          "
          >Ingrese un valor</ion-label
        >
      
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora 3</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hour3"
          [disabled]="!thirdHoursEnabled"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hour3') &&
            (form.controls.hour3.touched || form.controls.hour3.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    
    <ion-col>

      <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8 tableSausage" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Lote" >
          <th mat-header-cell *matHeaderCellDef> Lote </th>
          <td mat-cell *matCellDef="let element;let index=index" (click)="(isNewRegister)?removeOfSausageArr(index):selectItemToUpdate(index)" [class]="sausageSelected==index?'selected':''"> {{element.lotId}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Temperatura">
          <th mat-header-cell *matHeaderCellDef> Temperatura </th>
          <td mat-cell *matCellDef="let element;let index=index" [class]="sausageSelected==index?'selected':''"> {{element.temperature}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element; let index=index" [class]="sausageSelected==index?'selected':''"> {{element.date | date: 'M-d-yyyy'}} </td>
        </ng-container>
      
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </ion-col>
    <!-- <ul style="list-style: none;">
      <li *ngFor="let sausage of sausageArr; let index=index" (click)="(isNewRegister)?removeOfSausageArr(index):null">
          lote: {{sausage.lotId}}<br>
          fecha:{{sausage.date}} <br>
          temperatura: {{sausage.temperature}}<br>
      </li>
    </ul> -->
  </ion-row>
  <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
    >
      <ion-col class="container container__column" size="12">
        <ion-button
          class="container container_buttton"
          color="secondary"
          size="large"
          expand="block"
          (click)="addItem()"
          [disabled]="!(isNewRegister || (!isNewRegister && !sausageArr.length && currentProcess!=null))"
          ><ion-grid>
            <ion-row *ngIf="!loading"> <ion-col>Agregar Lote</ion-col></ion-row>
             </ion-grid>
          </ion-button>
      </ion-col>
    </ion-row>

</form>
