<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" flex layout="column" style="overflow: auto; height: 100%;">
  <ion-row>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">Productos Rovianda*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar producto"
          formControlName="productId"
          (ionChange)="selectProductRovianda()"
        >
          <ion-select-option
            [value]="productRovianda.id"
            *ngFor="let productRovianda of productsRovianda$ | async"
            >{{ productRovianda.name }}</ion-select-option>
        </ion-select>
      </ion-item>
     
      <ion-item *ngIf="!isNewRegister  && currentProcess!=null">
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="{{currentProcess.productName}}"
          disabled
        ></ion-input>
      </ion-item>
      

    </ion-col>
    <ion-col size="6">

      <ion-item *ngIf="isNewRegister && (formulations | async).length">
        <ion-label position="floating">Formulaciones</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar formulacion"
          formControlName="formulationId"
          (ionChange)="selectFormulationId()"
        >
          <ion-select-option   *ngFor="let formulation of  formulations | async " [value]="formulation.formulationId"
            >{{ formulation.lotDay}}-{{formulation.productName}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!isNewRegister">
        <ion-label position="floating">Formulaciones</ion-label>
        <ion-input
            class="item-form"
            interface="action-sheet"
            placeholder="{{lotDay}}"
            disabled
          ></ion-input>
      </ion-item>

     

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item *ngIf="formulation!=null">
        <ion-label position="floating">Lote del día</ion-label>
          <ion-input
          class="item-form"
          interface="action-sheet"
          value="{{lotDay}}"
          disabled
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha de embutido*</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          class="item-form"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="!(isNewRegister || !isNewRegister && sausageOfProcess==null)"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'date') &&
            (form.controls.date.touched || form.controls.date.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Temperatura (°C)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa temperatura"
          formControlName="temperature"
          type="number"
          [disabled]="!(isNewRegister || !isNewRegister && sausageOfProcess==null)"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'temperature') &&
            (form.controls.temperature.touched ||
              form.controls.temperature.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>
  <h1 class="subtitle">Tiempo</h1>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg) inicial*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weightInitial"
          [disabled]="!(isNewRegister || !isNewRegister && sausageOfProcess==null)"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightInitial') &&
            (form.controls.weightInitial.touched ||
              form.controls.weightInitial.dirty)
          "
          >Ingrese un valor</ion-label
        >
        <ion-label
          *ngIf="
            form.controls.weightInitial.touched &&
            form.controls.weightInitial.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora 1*</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hour1"
          [disabled]="!(isNewRegister || !isNewRegister && sausageOfProcess==null)"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hour1') &&
            (form.controls.hour1.touched || form.controls.hour1.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg) medio</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weightMedium"
          [disabled]="!(secondHoursEnabled && sausageOfProcess!=null)"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightMedium') &&
            (form.controls.weightMedium.touched ||
              form.controls.weightMedium.dirty)
          "
          >Ingrese un valor</ion-label
        >
        <ion-label
          *ngIf="
            form.controls.weightMedium.touched &&
            form.controls.weightMedium.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora 2</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hour2"
          [disabled]="!(secondHoursEnabled && sausageOfProcess!=null)"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hour2') &&
            (form.controls.hour2.touched || form.controls.hour2.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg) final</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weightFinal"
          [disabled]="!(thirdHoursEnabled && sausageOfProcess!=null)"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightFinal') &&
            (form.controls.weightFinal.touched ||
              form.controls.weightFinal.dirty)
          "
          >Ingrese un valor</ion-label
        >
      
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Hora 3</ion-label>
        <ion-datetime
          class="item-form"
          displayFormat="HH:mm"
          formControlName="hour3"
          [disabled]="!(thirdHoursEnabled && sausageOfProcess!=null)"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'hour3') &&
            (form.controls.hour3.touched || form.controls.hour3.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>

  
</form>
