$color-text-primary: #575552;
$color-text-secondary: #717171;
$color-text-ternary: #b2b2b2;

@import "../../../../../theme/mixins.scss";

.container {
  height: 100%;

  &--all {
    @include breakpoint-size(ms-small) {
      min-height: 1000px;
    }

    @include breakpoint-size(ms-extra-large) {
      min-height: 800px;
    }
  }

  &__row {
    display: flex;
    &--first {
      height: 80%;
    }

    &--second {
      height: 20%;
    }
  }

  &__column {
    &--button {
      display: flex;
    }
  }

  &__image {
    height: 90%;
    display: flex;
  }

  &__logo {
    height: 50%;
  }

  &__subtitle {
    height: 10%;
    text-align: center;
  }

  &__button {
    width: 80%;
    height: 25%;

    @include breakpoint-size(ms-extra-large) {
      height: 50%;
      font-size: var(--fs-text-xl);
    }
  }
}
