@import "../../../../../theme/mixins.scss";

form {
  background-color: var(--ion-color-medium-contrast);
  border-radius: 18px;
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.75);
  height: 100%;

  .form-grid {
    height: 100%;
    padding: 8%;

    .row {
      &-1 {
        height: 25%;

        ion-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img.header__logo {
            width: 180px;

            @include breakpoint-size(ms-medium) {
              width: 50%;
            }

            @include breakpoint-size(ms-large) {
              width: 20%;
            }

            @include breakpoint-size(ms-extra-large) {
              width: 35%;
            }
          }
        }
      }

      &-2 {
        height: 10%;
        @include breakpoint-size(ms-medium) {
          height: 10%;
        }

        h6 {
          margin: 0;

          @include breakpoint-size(ms-medium) {
            font-size: 1.4rem;
          }

          @include breakpoint-size(ms-extra-large) {
            text-align: center;
          }
        }
      }

      &-3 {
        height: 16%;

        @include breakpoint-size(ms-small) {
          height: 9%;
        }

        @include breakpoint-size(ms-medium) {
          height: 12%;
        }

        @include breakpoint-size(ms-large) {
          height: 11%;
        }

        @include breakpoint-size(ms-extra-large) {
          height: 15%;
        }

        ion-col {
          width: 90%;
          ion-item {
            border: 2px solid var(--ion-color-secondary-tint);
            border-radius: 10px;
            height: 100%;

            ion-input {
              margin-left: 4%;
              font-size: 1.4rem;
              --placeholder-font-weight: 900;
              --placeholder-font-size: 1.2rem;
            }

            &.item-has-focus {
              border: 2.5px solid var(--ion-color-primary-shade);
              color: var(--ion-color-dark);
              ion-icon {
                &.color {
                  color: var(--ion-color-dark) !important;
                }
              }
            }
          }
        }
      }

      &-4 {
        height: 5%;
        @include breakpoint-size(ms-small) {
          height: 10%;
        }

        ion-col {
          .error {
            ion-label {
              @include message-error(1.2rem, var(--ion-color-error));

              @include breakpoint-size(ms-small) {
                font-size: var(--font-size-sm);
              }

              @include breakpoint-size(ms-medium) {
                font-size: var(--font-size-md);
              }

              @include breakpoint-size(ms-extra-large) {
                font-size: var(--font-size-xl);
              }
            }
          }
        }
      }

      &-5 {
        height: 16%;

        @include breakpoint-size(ms-small) {
          height: 9%;
        }

        @include breakpoint-size(ms-medium) {
          height: 12%;
        }

        @include breakpoint-size(ms-large) {
          height: 11%;
        }

        @include breakpoint-size(ms-extra-large) {
          height: 15%;
        }

        ion-col {
          ion-item {
            border: 0.5px solid var(--ion-color-secondary-tint);
            border-radius: 5px;

            ion-input {
              margin-left: 4%;
              font-size: 1.4rem;
            }
          }
        }
      }

      &-6 {
        height: 5%;

        @include breakpoint-size(ms-small) {
          height: 10%;
        }

        ion-col {
          .error {
            ion-label {
              @include message-error(1.2rem, var(--ion-color-error));

              @include breakpoint-size(ms-small) {
                font-size: var(--font-size-sm);
              }

              @include breakpoint-size(ms-medium) {
                font-size: var(--font-size-md);
              }

              @include breakpoint-size(ms-extra-large) {
                font-size: var(--font-size-xl);
              }
            }
          }
        }
      }

      &-7 {
        height: 15%;

        @include breakpoint-size(ms-medium) {
          height: 22%;
        }

        @include breakpoint-size(ms-extra-large) {
          height: 20%;
        }

        ion-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          ion-button {
            height: 75px;
            width: 300px;

            @include breakpoint-size(ms-small) {
              height: 70px;
              width: 240px;
            }
          }
        }
      }

      &-8 {
        height: 5%;

        @include breakpoint-size(ms-small) {
          height: 8%;
        }

        @include breakpoint-size(ms-medium) {
          height: 10%;
        }

        @include breakpoint-size(ms-extra-large) {
          height: 10%;
        }

        ion-col {
          .error {
            ion-label {
              @include message-error(1.2rem, var(--ion-color-error));

              @include breakpoint-size(ms-small) {
                font-size: var(--font-size-sm);
              }

              @include breakpoint-size(ms-medium) {
                font-size: var(--font-size-md);
              }

              @include breakpoint-size(ms-extra-large) {
                font-size: var(--font-size-xl);
              }
            }
          }
        }
      }
    }
  }
}
