<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" flex layout="column" style="overflow: auto; height: 100%;">
  <ion-row>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">Producto*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar producto"
          formControlName="productId"
          (ionChange)="selectProductRovianda()"
        >
          <ion-select-option
            [value]="product.id"
            *ngFor="let product of productsRovianda | async"
            >{{ product.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    
      <ion-item *ngIf="!isNewRegister  && currentProcess!=null">
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="{{currentProcess.productName}}"
          disabled
        ></ion-input>
      </ion-item>
      
    </ion-col>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">Formulacion*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar una formulacion"
          formControlName="formulationId"
          (ionChange)="selectFormulationId()"
        >
          <ion-select-option
            [value]="formulation.formulationId"
            *ngFor="let formulation of formulations | async"
            >{{ formulation.lotDay }}-{{formulation.productName}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!isNewRegister && tenderizedSaved.length">
        <ion-label position="floating">Formulacion*</ion-label>
        <ion-input
        class="item-form"
        [placeholder]="tenderizedSaved[0].formulation"
        disabled
      ></ion-input>
        
      </ion-item>

      <ion-item *ngIf="!isNewRegister && !tenderizedSaved.length && currentProcess!=null">
        <ion-label position="floating">Formulacion*</ion-label>
        <ion-input
        class="item-form"
        [placeholder]="currentProcess.lotDay"
        disabled
      ></ion-input>
        
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item *ngIf=" formulation && defrostOfFormulation.length && !tenderizedSaved.length">
        <ion-label position="floating">Lotes de carne en esta formulación</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar lote"
          formControlName="defrostId"
        >
          <ion-select-option   *ngFor="let defrost of  defrostOfFormulation" [value]="defrost.defrostFormulationId"
            >{{ defrost.lotMeat}}-{{defrost.defrost.outputCooling.rawMaterial.rawMaterial}}-{{dateParseStr(defrost.defrost.dateEnd,'/')}}-{{defrost.defrost.outputHour}}-{{defrost.defrost.outputCooling.quantity}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Temperatura*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa temperatura"
          formControlName="temperature"
          type="number"
          min="0"
          [disabled]="tenderizedSaved.length"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'temperature') &&
            (form.controls.temperature.touched ||
              form.controls.temperature.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weight"
          [disabled]="tenderizedSaved.length"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weight') &&
            (form.controls.weight.touched || form.controls.weight.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
        <ion-label
          *ngIf="
            form.controls.weight.touched &&
            form.controls.weight.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso (Kg) salmuera*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso salmuera"
          formControlName="weightSalmuera"
          [disabled]="tenderizedSaved.length"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightSalmuera') &&
            (form.controls.weightSalmuera.touched ||
              form.controls.weightSalmuera.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
        <ion-label
          *ngIf="
            form.controls.weightSalmuera.touched &&
            form.controls.weightSalmuera.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">% de inyección*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa % de inyeccion"
          formControlName="percentage"
          type="number"
          [disabled]="tenderizedSaved.length"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'percentage') &&
            (form.controls.percentage.touched || form.controls.percentage.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha*</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          class="item-form"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="tenderizedSaved.length"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'date') &&
            (form.controls.date.touched || form.controls.date.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>

    <ion-col>

      <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8 tableTenderized" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Lote" >
          <th mat-header-cell *matHeaderCellDef> Lote </th>
          <td mat-cell *matCellDef="let element;let index=index" (click)="(isNewRegister)?removeOfTenderizedArr(index):null"> {{element.lotId}} </td>
        </ng-container>

        <ng-container matColumnDef="Materia Prima" >
          <th mat-header-cell *matHeaderCellDef> Materia Prima </th>
          <td mat-cell *matCellDef="let element;let index=index"> {{element.rawMaterial}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Peso">
          <th mat-header-cell *matHeaderCellDef> Peso </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Peso Salmuera">
          <th mat-header-cell *matHeaderCellDef> Peso Salmuera </th>
          <td mat-cell *matCellDef="let element"> {{element.weightSalmuera }} </td>
        </ng-container>

        <ng-container matColumnDef="Porcentaje">
          <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
          <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{dateParseStr(element.date.split("T")[0],'-')}} </td>
        </ng-container>
      
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </ion-col>

    <!-- <ul style="list-style: none;">
      <li *ngFor="let tenderized of tenderizedArr; let index=index" (click)="(isNewRegister)?removeOfTenderizedArr(index):null">
          Lote: {{tenderized.lotId}}<br>
          Peso: {{tenderized.weight}} <br>
          Peso Salmuera: {{tenderized.weightSalmuera}} <br>
          Porcentaje de inyeccion: {{tenderized.percentage}}
      </li>
    </ul> -->
  </ion-row>
  <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
    >
      <ion-col class="container container__column" size="12">
        <ion-button
          class="container container_buttton"
          color="secondary"
          size="large"
          expand="block"
          (click)="addItem()"
          [disabled]="!(isNewRegister || (!isNewRegister && currentProcess!=null && !tenderizedSaved.length)) "
          ><ion-grid>
            <ion-row> <ion-col>Agregar Lote</ion-col></ion-row>
             </ion-grid>
          </ion-button>
      </ion-col>
    </ion-row>
 
</form>
