<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col size="6">
      <ion-item *ngIf="!isSelected">
        <ion-label position="floating">Producto*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar producto"
          formControlName="productId"
          [disabled]="isSelected"
        >
          <ion-select-option
            [value]="product.id"
            *ngFor="let product of products"
            >{{ product.description }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isSelected">
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Producto"
          formControlName="productId"
          disabled
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'productId') &&
            (form.controls.productId.touched || form.controls.productId.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Temperatura*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa temperatura"
          formControlName="temperature"
          type="number"
          min="0"
          pattern="\d+"
          [disabled]="isSelected"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'temperature') &&
            (form.controls.temperature.touched ||
              form.controls.temperature.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weight"
          [disabled]="isSelected"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weight') &&
            (form.controls.weight.touched || form.controls.weight.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso (Kg) salmuera*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso salmuera"
          formControlName="weightSalmuera"
          [disabled]="isSelected"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightSalmuera') &&
            (form.controls.weightSalmuera.touched ||
              form.controls.weightSalmuera.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">% de inyección*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa % de inyeccion"
          formControlName="percentage"
          type="number"
          [disabled]="isSelected"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'percentage') &&
            (form.controls.percentage.touched || form.controls.percentage.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha*</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          class="item-form"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="isSelected"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'date') &&
            (form.controls.date.touched || form.controls.date.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
</form>
