<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" flex layout="column" style="overflow: auto; height: 100%;">
  <ion-row>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">Producto*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar producto"
          formControlName="productId"
          (ionChange)="selectProductRovianda()"
        >
          <ion-select-option
            [value]="product.id"
            *ngFor="let product of productsRovianda | async"
            >{{ product.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isSelected">
        <ion-label position="floating">Producto*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Producto"
          formControlName="productId"
          disabled
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'productId') &&
            (form.controls.productId.touched || form.controls.productId.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">Formulacion*</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar una formulacion"
          formControlName="formulationId"
          (ionChange)="selectFormulationId()"
        >
          <ion-select-option
            [value]="formulation.formulationId"
            *ngFor="let formulation of formulations | async"
            >{{ formulation.lotDay }}-{{formulation.productName}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item *ngIf="isNewRegister && formulation && defrostOfFormulation.length">
        <ion-label position="floating">Lotes de carne en esta formulación</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar lote"
          formControlName="defrostId"
        >
          <ion-select-option   *ngFor="let defrost of  defrostOfFormulation" [value]="defrost.defrostFormulationId"
            >{{ defrost.lotMeat}}-{{defrost.defrost.dateEnd}}-{{defrost.defrost.outputHour}}-{{defrost.defrost.outputCooling.quantity}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Temperatura*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa temperatura"
          formControlName="temperature"
          type="number"
          min="0"
          pattern="\d+"
          [disabled]="isSelected"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'temperature') &&
            (form.controls.temperature.touched ||
              form.controls.temperature.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso(Kg)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso en Kg"
          formControlName="weight"
          [disabled]="isSelected"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weight') &&
            (form.controls.weight.touched || form.controls.weight.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
        <ion-label
          *ngIf="
            form.controls.weight.touched &&
            form.controls.weight.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso (Kg) salmuera*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa peso salmuera"
          formControlName="weightSalmuera"
          [disabled]="isSelected"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weightSalmuera') &&
            (form.controls.weightSalmuera.touched ||
              form.controls.weightSalmuera.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
        <ion-label
          *ngIf="
            form.controls.weightSalmuera.touched &&
            form.controls.weightSalmuera.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">% de inyección*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingresa % de inyeccion"
          formControlName="percentage"
          type="number"
          [disabled]="isSelected"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'percentage') &&
            (form.controls.percentage.touched || form.controls.percentage.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    
    <ion-col size="6">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha*</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          class="item-form"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="isSelected"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'date') &&
            (form.controls.date.touched || form.controls.date.dirty)
          "
        >
          Ingrese un valor
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ul style="list-style: none;">
      <li *ngFor="let tenderized of tenderizedArr; let index=index" (click)="(isNewRegister)?removeOfTenderizedArr(index):null">
          Lote: {{tenderized.lotId}}<br>
          Peso: {{tenderized.weight}} <br>
          Peso Salmuera: {{tenderized.weightSalmuera}} <br>
          Porcentaje de inyeccion: {{tenderized.percentage}}
      </li>
    </ul>
  </ion-row>
  <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
    >
      <ion-col class="container container__column" size="12">
        <ion-button
          class="container container_buttton"
          color="secondary"
          size="large"
          expand="block"
          (click)="addItem()"
          [disabled]="!isNewRegister"
          ><ion-grid>
            <ion-row> <ion-col>Agregar Lote</ion-col></ion-row>
             </ion-grid>
          </ion-button>
      </ion-col>
    </ion-row>
 
</form>
