<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()" flex layout="column" style="overflow: auto; height: 100%;">
  <ion-row>
    <ion-col size="6">
      <ion-item *ngIf="isNewRegister">
        <ion-label position="floating">
          Productos Rovianda*
        </ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar el producto a procesar"
          formControlName="productRovianda"
          [disabled]="(productsRovianda$ |async ).length == 0"
          (ionChange)="selectProductRovianda()"
        >
          <ion-select-option
            [value]="productRovianda.id"
            *ngFor="let productRovianda of productsRovianda$ | async"
          >
            {{ productRovianda.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!isNewRegister && grindingsOfProcess.length">
        <ion-label position="floating">
          Producto Rovianda*
        </ion-label>
        <ion-input
          class="item-form"
          interface="action-sheet"
          placeholder="{{grindingsOfProcess[0].productRovianda}}"
          disabled
        ></ion-input>
        
      </ion-item>
      <ion-item *ngIf="!isNewRegister && !grindingsOfProcess.length && currentProcess!=null">
        <ion-label position="floating">
          Producto Rovianda*
        </ion-label>
        <ion-input
          class="item-form"
          interface="action-sheet"
          placeholder="{{currentProcess.productName}}"
          disabled
        ></ion-input>
        
      </ion-item>
    </ion-col>
    <ion-col size="6">
        <ion-item *ngIf="isNewRegister && (formulations | async).length">
          <ion-label position="floating">Formulaciones</ion-label>
          <ion-select
            class="item-form"
            interface="action-sheet"
            placeholder="Seleccionar formulacion"
            formControlName="formulationId"
            (ionChange)="selectFormulationId()"
          >
            <ion-select-option   *ngFor="let formulation of  formulations | async " [value]="formulation.formulationId"
              >{{ formulation.lotDay}}-{{formulation.productName}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!isNewRegister && grindingsOfProcess.length">
          <ion-label position="floating">Formulacion</ion-label>
          <ion-input
            class="item-form"
            interface="action-sheet"
            placeholder="{{grindingsOfProcess[0].formulation}}"
            disabled
          ></ion-input>
        </ion-item>

        <ion-item *ngIf="!isNewRegister && !grindingsOfProcess.length && currentProcess!=null">
          <ion-label position="floating">Formulacion</ion-label>
          <ion-input
            class="item-form"
            interface="action-sheet"
            placeholder="{{currentProcess.lotDay}}"
            disabled
          ></ion-input>
        </ion-item>

      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item *ngIf="formulation && defrostOfFormulation.length && !grindingArr.length">
        <ion-label position="floating">Lotes de carne en esta formulación</ion-label>
        <ion-select
          class="item-form"
          interface="action-sheet"
          placeholder="Seleccionar lote"
          formControlName="defrostId"
        >
          <ion-select-option   *ngFor="let defrost of  defrostOfFormulation" [value]="defrost.defrostFormulationId"
            >{{ defrost.lotMeat}}-{{defrost.defrost.dateEnd}}-{{defrost.defrost.outputHour}}-{{defrost.defrost.outputCooling.quantity}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Proceso*</ion-label>
        <ion-select
        class="item-form"
        interface="action-sheet"
        placeholder="Seleccionar el un proceso"
        formControlName="process"
      >
        <ion-select-option
          value="LIMPIEZA"
        >
          LIMPIEZA</ion-select-option
        >
      
      <ion-select-option
          value="SALADO Y CURADO"
        >
          SALADO Y CURADO</ion-select-option
        >
      
      <ion-select-option
          value="DESHUESE"
        >
          DESHUESE</ion-select-option
        >
      </ion-select>
      </ion-item>
   
    </ion-col>

    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Peso (Kg)*</ion-label>
        <ion-input
          class="item-form"
          placeholder="Ingrese peso en Kg"
          formControlName="weight"
          [disabled]="isSelected"
          type="number"
        ></ion-input>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'weight') &&
            (form.controls.weight.touched || form.controls.weight.dirty)
          "
          >Ingrese un valor</ion-label
        >
        <ion-label
          *ngIf="
            form.controls.weight.touched &&
            form.controls.weight.errors?.isValidDecimal
          "
        >
          Formato invalido
        </ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <ion-item class="item-datetime">
        <ion-label position="floating">Fecha actual*</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          class="item-form"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate"
          [disabled]="isSelected"
        ></ion-datetime>
      </ion-item>
      <div class="error">
        <ion-label
          *ngIf="
            form.hasError('required', 'date') &&
            (form.controls.date.touched || form.controls.date.dirty)
          "
          >Ingrese un valor</ion-label
        >
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8 tableGrinding" >

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Lote" >
          <th mat-header-cell *matHeaderCellDef> Lote </th>
          <td mat-cell *matCellDef="let element;let index=index" (click)="(isNewRegister)?removeOfGrindingArr(index):null"> {{element.lotId}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Peso">
          <th mat-header-cell *matHeaderCellDef> Peso </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Proceso">
          <th mat-header-cell *matHeaderCellDef> Proceso </th>
          <td mat-cell *matCellDef="let element"> {{element.process}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date: 'M-d-yyyy'}}</td>
        </ng-container>
  
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </ion-col>
    <!-- <ul style="list-style: none;">
      <li *ngFor="let grinding of grindingArr; let index=index" (click)="(isNewRegister)?removeOfGrindingArr(index):null">
          lote: {{grinding.lotId}}<br>
          peso: {{grinding.weight}} <br>
          fecha:{{grinding.date}} <br>
          proceso: {{grinding.process}}
      </li>
    </ul> -->
  </ion-row>
  <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
    >
      <ion-col class="container container__column" size="12">
        <ion-button
          class="container container_buttton"
          color="secondary"
          size="large"
          expand="block"
          (click)="addItem()"
          [disabled]="!(isNewRegister || (!isNewRegister && !grindingArr.length && currentProcess!=null)) "
          ><ion-grid>
            <ion-row *ngIf="!loading"> <ion-col>Agregar Lote</ion-col></ion-row>
             </ion-grid>
          </ion-button>
      </ion-col>
    </ion-row>

</form>
