/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$color-primary: #e2bd53;
$color-secundary: #707070;
$color-text-primary: #e2bd53;
$color-text-secondary: #dbdbdb;

* {
  font-size: 14px;
}

.modal-size {
  border-radius: 5px;
  --width: 80%;
  --height: 180px;
}

.linea {
  width: 62px;
  height: 5px;
  border-radius: 13px;
  background-color: $color-primary;
  margin: 20px 0px 20px 20px;
}

.backdropBackground{
  mat-dialog-container{
  position: fixed;
  margin-top: 25%;
  margin-left: 25%;
  background-color: white;
  color: black;
  width: 50%;
  height: auto;
  border-color: burlywood;
  border-style: dashed;
  border-width: 1px;
  .closeButton{
    text-align: center;
    align-content: center;
    margin-bottom: 0%;
  }
  }
}
.selected{
  background-color: burlywood;
}