$color-text-primary: #575552;
$color-text-secondary: #717171;
$color-text-ternary: black;
$color-primary: #e2bd53;

form {
  margin: 0;
  padding-top: 10%;
  height: 100%;
  width: 100%;
  ion-row {
    margin: 0;
    margin-top: 2%;
    box-sizing: border-box;
    .title-checkbox {
      color: $color-text-ternary;
      margin-left: 4%;
      font-size: 3vw;
    }
    .item-datetime {
      ion-label {
        font-size: 2.8vw;
      }
    }
    ion-item {
      font-size: 3.5vw;
      color: $color-text-ternary;

      .item-form {
        font-size: 3.1vw;
        color: $color-text-ternary;
      }
      &.item-has-focus {
        ion-label {
          color: #e2bd53;
        }
      }
    }
    .checkbox {
      .item-check {
        padding-left: 6%;
        font-size: 2.5vw;
      }
      ion-label {
        font-size: 2.5vw;
      }
      ion-checkbox {
        padding-left: 0.3%;
        --background: #b2b2b2;
        --border-color: transparent;
        --border-color-checked: #e2bd53;
        --background-checked: #e2bd53;
        width: 4vw;
        height: 4vw;
      }
    }
  }
  .error {
    margin-top: 1vh;
    height: 2vh;
    font-size: 2.5vw;
    color: red;
    transition: all 2s;
  }
}
